{% extends 'admin/master.html' %}

{% block body %}
    <h1>Instruction</h1>
    <h3>
    <p>Pour ajouter un téléphone à stoplist: <b>Stoplist</b> &gt <b>Ajouter</b> &gt remplissez les champs requis &gt <b>Enregistrer</b>.</p>
    <p>Attention. La règle s'applique uniquement au numéro de téléphone que vous avez spécifié et uniquement lorsque vous composez ce numéro dans le même format que celui indiqué dans le tableau. Si le médium a plusieurs numéros de téléphone, il est conseillé d'ajouter chacun d'eux à la table (y compris le numéro SIP).</p>
    </h3>
{% endblock %}
